
/* Dotaznik */

#leaveComment {
    font-size: 1.2rem!important;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1em;
    padding: 0 2em;
    color: #fafafa;
    border-radius: 4px;
    width: 20vw!important;
}

.modal-content {
    background-color: #404250;
    font-family: 'Work Sans', sans-serif;
}

.modal-title {
    color: #efefef;
    font-family: 'Work Sans', sans-serif;
}

.dotaznik-label {
    color: #4a9a95;
    font-weight: bold;
    margin-top: 1em;
    font-family: 'Work Sans', sans-serif;
}

input {
    background-color: silver!important;
}

input:focus {
    background-color: white!important;
}

input.dotaznik-text,
.dotaznik-text {
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)!important;
    background-color: silver;!important;
}

#closeModal {
    outline: none;
    border: none;
    padding: 0;
    background-color: #404250;
}

.bi-x-square-fill {
    color: #3f8984;
    padding: 0;
    font-size: 1.4em;
}

#submitRecenziu {
    border: none;
    outline: none;
    background: #3f8984;
    color: #fafafa;
    font-family: 'Work Sans', sans-serif;
}

#formAlert {
    font-weight: bold;
}
